*{
	font-family: 'Dancing Script', cursive;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

.navbar{
	background-color: rgba(128, 118, 115, 0.212);
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: white;
}

#spantext {
	color: orangered;
}

.navi {
	float: left;
}

.exc {
	color: orangered;
}

li {
	display: inline;
	margin-right: 40px;
}

li a{
	text-decoration: none;
	color: black;
	font-size: 40px;
}

.landing {
	background-image: url('../Images/Pizza5.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 700px;
	width: 100%;
	text-align: center;
	padding: 365px;
}

.overlay{
	background-color: rgba(78, 70, 67, 0.13);
}

#form-title {
	padding-top: 05px;
}

#row {
	background-image: url("../Images/Logo1.png");
	background-repeat: no-repeat;
}

#rd {
	color: crimson;
	font-size: 25px;
}

#rd1 {
	color: white;

}

footer {
	background-color: crimson;
}

#title {
	color: orangered;
}

#label {
	color: orangered;
}
